**/node_modules
**/generated
**/out
**/tmp
**/build
karate.jar
server/*
server/src/*
server/src/main/*
server/src/main/java/*
server/src/main/java/org/*
server/src/main/java/org/openapitools/*
server/src/main/java/org/openapitools/api/*
!server/.openapi-generator-ignore
!server/Dockerfile
!server/src
!server/src/main
!server/src/main/java
!server/src/main/java/org
!server/src/main/java/org/openapitools
!server/src/main/java/org/openapitools/OpenAPI2SpringBoot.java
!server/src/main/java/org/openapitools/api
!server/src/main/java/org/openapitools/api/HelloWorldApiController.java
shared/lib
target