<mwc-drawer #drawer hasHeader type="modal">
    <span slot="title">Hello World!</span>
    <mwc-list rootTabbable>
        <a routerLink="/">
            <mwc-list-item tabindex="0" graphic="avatar">
                Home
                <mwc-icon slot="graphic">home</mwc-icon>
            </mwc-list-item>
        </a>
        <li divider role="separator"></li>
        <a routerLink="/hello-world">
            <mwc-list-item tabindex="0" graphic="avatar">
                Hello World!
                <mwc-icon slot="graphic">language</mwc-icon>
            </mwc-list-item>
        </a>
    </mwc-list>

    <div slot="appContent">
        <mwc-top-app-bar-fixed dense>
            <router-outlet name="title"></router-outlet>
            <router-outlet name="actionItems"></router-outlet>
            <mwc-icon-button icon="menu" slot="navigationIcon"></mwc-icon-button>
            <router-outlet></router-outlet>
        </mwc-top-app-bar-fixed>
    </div>
</mwc-drawer>
